<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
                    <link rel="icon" href="/img/weather-icon.jpg">
        <title>404</title>
    </head>
    <body>
        <div class="main-content">
        {{> headers}}
        <h1>{{errorText}}</h1>
        </div>
        {{>footers}}
    </body>
</html>