<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
                    <link rel="icon" href="/img/weather-icon.jpg">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
                {{> headers}}
        <h2>From the public folder {{title}}</h2>
        <img class="portrait" src="/img/blue-circle-with-white-user_78370-4707.jpg" alt="Test">
        </div>
        {{>footers}}
    </body>
</html>