<!doctype html>
<html>
    <head>
                    <link rel="icon" href="/img/weather-icon.jpg">
        <link rel="stylesheet" href="/css/style.css">
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
        {{> headers}}
        <h2>From the public folder Help</h2>
        <p>{{helpText}}</p>
        </div>
        {{>footers}}
    </body>
</html>